openapi: 3.2.0
info:
  description: ''
  version: 1.3.9
  title: Sprift Home API
  contact: {}
servers:
- url: https://sprift.com/dashboard/api/v1
security:
- auth: []
tags:
- name: Home
paths:
  /:
    get:
      tags:
      - Home
      summary: Home Page
      operationId: HomePage
      parameters:
      - name: page
        in: query
        description: Pagination parameter
        required: true
        schema:
          type: integer
          format: int32
      - name: SPRIFT-API-KEY
        in: header
        description: Sprift API Key
        required: true
        schema:
          type: string
      deprecated: false
      responses:
        '200':
          description: Users Property Search History List - 10 items each page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        '403':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
components:
  schemas:
    inline_response_200:
      type: object
      properties:
        total_reports:
          type: integer
          description: Number of total properties in users search history
        reports:
          type: array
          description: Property list for search history
          items:
            $ref: '#/components/schemas/inline_response_200_reports'
        has_next_page:
          type: boolean
          description: Return true if there are more properties to show. False if not.
    inline_response_403:
      type: object
      properties:
        status:
          type: boolean
          example: false
          description: False if API key is invalid
        error:
          type: string
          description: Error message
    inline_response_200_reports:
      type: object
      properties:
        property_id:
          type: integer
          description: ID of property
        area_name:
          type: string
        property_address_flat_number:
          type: string
          description: Flat number of the property
        property_address_building_number:
          type: string
          description: Building number of the property
        property_address_building_name:
          type: string
          description: Building name of the property
        property_address_sub_street_name:
          type: string
          description: Sub street name of the property
        property_address_street_name:
          type: string
          description: Street name of the property
        property_address_town:
          type: string
          description: Town
        property_lat:
          type: string
          description: Latitude of the property
        property_lng:
          type: string
          description: Longitude of the property
        property_bng_x:
          type: string
          description: British National Grid X Coordinate of the property
        property_bng_y:
          type: string
          description: British National Grid Y Coordinate of the property
        property_number:
          type: string
        property_electoral_roll:
          type: string
        property_local_authority:
          type: string
        property_classification_code:
          type: string
        property_classi_code_description:
          type: string
        property_post_code:
          type: string
        property_flood_risk:
          type: string
        property_flood_risk_date:
          type: string
          description: Last update date of the area
        property_conservation_area:
          type: string
        property_conservation_area_date:
          type: string
          description: Last update date of the area
        property_sprift_value:
          type: string
        property_land_registry_value:
          type: string
        property_land_registry_last_update:
          type: string
        property_land_registry_rule_used:
          type: string
        property_type:
          type: string
        property_add_date:
          type: string
          description: Sprift Report created date
        property_alias:
          type: string
        property_del_status:
          type: string
        property_street_view_pov:
          type: string
          description: Google street view camera positioning
        property_archived:
          type: string
        property_user_total_floor_area:
          type: string
        property_user_type:
          type: string
        property_user_total_floor_area_last_modified:
          type: string
        property_user_year_built:
          type: string
        nearby_property_sold_updated_on:
          type: boolean
        is_dummy:
          type: string
        property_uprn:
          type: string
        user_property_classification_code_description:
          type: string
        property_ppsqft:
          type: string
          description: Property pound per square foot value
        last_update:
          type: string
        share_count:
          type: string
          description: How many times property shared
        view_count:
          type: string
          description: How many times property has been viewed
        description_from_admin:
          type: string
        property_valuation:
          type: string
        report_progress:
          type: string
        notifications:
          type: integer
          description: E-mail notification on or off
        is_report_charged:
          type: integer
          description: is user charged for viewing this report
        propertyDefaultImage:
          type: string
          description: Google street view link
  securitySchemes:
    auth:
      type: http
      scheme: basic
