{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "1.3.9",
    "title": "Sprift API",
    "contact": {}
  },
  "host": "sprift.com",
  "basePath": "/dashboard/api/v1",
  "tags": [
    {
      "name": "Home"
    },
    {
      "name": "User"
    },
    {
      "name": "Search"
    },
    {
      "name": "Property"
    },
    {
      "name": "Property V2"
    },
    {
      "name": "Share"
    },
    {
      "name": "Insider"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "auth": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Home"
        ],
        "summary": "Home Page",
        "operationId": "HomePage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Pagination parameter",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "Sprift API Key",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Users Property Search History List - 10 items each page",
            "schema": {
              "$ref": "#/definitions/inline_response_200"
            }
          },
          "403": {
            "description": "Invalid API Key",
            "schema": {
              "$ref": "#/definitions/inline_response_403"
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Login",
        "description": "<p>This endpoint is to log in a different user. You do not need to call this Endpoint with your API username and password in order to use the API.</p><p>This Endpoint is intended to those who want to add Sprift platform into their platforms using an iFrame and let Sprift users to login to Sprift.</p>",
        "operationId": "Login",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "formData",
            "description": "Username of the User that you want to log in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "Password of the User that you want to log in.",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Log user in",
            "schema": {
              "$ref": "#/definitions/inline_response_200_1"
            }
          },
          "400": {
            "description": "Missing credentials",
            "schema": {
              "$ref": "#/definitions/inline_response_400"
            }
          },
          "403": {
            "description": "Invalid API Key",
            "schema": {
              "$ref": "#/definitions/inline_response_403"
            }
          },
          "404": {
            "description": "User not found",
            "schema": {
              "$ref": "#/definitions/inline_response_404"
            }
          }
        }
      }
    },
    "/user/logout": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Logout",
        "operationId": "Logout",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "User Log out",
            "schema": {
              "$ref": "#/definitions/inline_response_200_2"
            }
          },
          "403": {
            "description": "Invalid API Key",
            "schema": {
              "$ref": "#/definitions/inline_response_403_1"
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search Properties",
        "operationId": "SearchProperties",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "phrase",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Property Address Search Result",
            "schema": {
              "$ref": "#/definitions/inline_response_200_3"
            }
          }
        }
      }
    },
    "/search/postcode/{postcode}": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search Property Address BY POSTCODE",
        "operationId": "SearchPropertiesByPostcode",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "postcode",
            "in": "path",
            "description": "Postcode to search",
            "required": true,
            "type": "string"
          },
          {
            "name": "commercial",
            "in": "query",
            "description": "If this parameter is set to 1, results will include commercial properties. If you do not want commercials then do not include this parameter or set it to 0.",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Property Address Search Result",
            "schema": {
              "$ref": "#/definitions/inline_response_200_3"
            }
          }
        }
      }
    },
    "/search/myproperties": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search My Properties",
        "operationId": "SearchMyProperties",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "phrase",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/inline_response_200_4"
            }
          }
        }
      }
    },
    "/property/search": {
      "post": {
        "tags": [
          "Property"
        ],
        "summary": "Sprift Property Report",
        "description": "Report types are: <p>1 = Market Appraisal Report / Desktop Research Report</p> <p>2 = Appointment Confirmation</p> <p>3 = Key Facts For Buyers / Key Property Facts </p><p>4 = Property Overview </p> <p>Pages to include are seperated by comma:</p> <p><b>agency</b> : Only For Appointment Confirmation (Report Type 2)</p><p><b>appraisal</b> : Only For Appointment Confirmation (Report Type 2)</p><p><b>helpful_info</b> : Only For Appointment Confirmation (Report Type 2)</p><p><b>toptips</b> : Only For Appointment Confirmation (Report Type 2)</p><p><b>photos</b> : (Report Type 1 and 3)</p><p><b>epc</b> : (Report Type 1 and 3)</p><p><b>titleplans</b> : (Report Type 1 and 3)</p><p><b>schools</b> : (Report Type 1 and 3)</p><p><b>transport</b> : (Report Type 1 and 3)</p><p><b>hpi</b></p><p><b>hpi_estimate</b></p><p><b>floorplans</b>  : (Report Type 1 and 3)</p><p><b>about</b></p><p><b>sis</b> : (Report Type 1 and 3)</p><p><b>disclaimer</b> : Only For Key Facts reports (Report Type 3)</p><p><b>testimonials</b></p><p><b>notes</b> : Only For Market Appraisal reports (Report Type 1)</p><p><b>radon</b> : (Report Type 1 and 3)</p><p><b>soils_clay</b> : (Report Type 1 and 3)</p><p><b>masts_and_pylons</b> : (Report Type 1 and 3)</p><p><b>surface_water</b> : (Report Type 1 and 3)</p><p><b>river_seas</b> : (Report Type 1 and 3)</p><p><b>road_noise </b> : (Report Type 1 and 3)</p><p><b>coal_mining</b> : (Report Type 1 and 3)</p><p><b>landfill_sites</b> : (Report Type 1 and 3)</p><p><b>conservation_area</b> : (Report Type 1 and 3)</p><p><b>council_wards</b> : (Report Type 1 and 3)</p><p><b>listed_buildings</b> : (Report Type 1 and 3)</p><p><b>green_belt</b> : (Report Type 1 and 3)</p><p><b>rail_noise</b> : (Report Type 1 and 3)</p><p><b>road_noise</b> : (Report Type 1 and 3)</p>",
        "operationId": "SpriftPropertyReport",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "Sprift API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "uprn",
            "in": "formData",
            "description": "",
            "required": true,
            "type": "number"
          },
          {
            "name": "reportType",
            "in": "formData",
            "description": "If you want to get Sprift Report URL instead of the property data, you have to specify a report Type",
            "required": false,
            "type": "number"
          },
          {
            "name": "reportPage",
            "in": "formData",
            "description": "If you are requesting the report url instead of data, you should specify which pages you want to include.",
            "required": false,
            "type": "string"
          },
          {
            "name": "userID",
            "in": "formData",
            "description": "You can send a User ID of which you want to use its details. This parameter can only be used along with reportType option.",
            "required": false,
            "type": "number"
          },
          {
            "name": "pdf",
            "in": "formData",
            "description": "If you want to recieve a download url for the report, you can add this parameter and set its value to true along with reportType parameter.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "portal_version",
            "in": "formData",
            "description": "Suitable for embedding on your portal/websites - anonymised addresses with no door numbers. You need to pass 1 to use portal version.",
            "required": false,
            "type": "number"
          },
          {
            "name": "bedroom",
            "in": "formData",
            "description": "This parameter allows override the bedroom value when generating the requested property report.",
            "required": false,
            "type": "number"
          },
          {
            "name": "bathroom",
            "in": "formData",
            "description": "This parameter allows override the bathroom value when generating the requested property report.",
            "required": false,
            "type": "number"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Property Details",
            "schema": {
              "$ref": "#/definitions/inline_response_200_5"
            }
          }
        }
      }
    },
    "/property/{propertyID}": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Request property details using property ID",
        "operationId": "PropertyDetails",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "Sprift API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Property Details",
            "schema": {
              "$ref": "#/definitions/inline_response_200_5"
            }
          }
        }
      }
    },
    "/property/{uprn}/tv": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Returns TV availability of the property",
        "description": "<p>TV availability of the property</p><p>BT, SKY and Virgin</p>",
        "operationId": "PropertyDetails-Tv",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "Sprift API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "uprn",
            "in": "path",
            "description": "Property UPRN",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Tv Availability",
            "schema": {
              "$ref": "#/definitions/inline_response_200_6"
            }
          }
        }
      }
    },
    "/property/{propertyID}/maps": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Returns property map image, satellite image and street view image.",
        "description": "<p>Get property map and satellite with title plan polygon and Google street view images as base64 encoded string.</p> <p>Images are Base64 encoded strings.</p>",
        "operationId": "PropertyDetails-Maps",
        "consumes": [
          "applicaton/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "Sprift API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Map, Satellite and Street View Images",
            "schema": {
              "$ref": "#/definitions/inline_response_200_7"
            }
          }
        }
      }
    },
    "/property/{propertyID}/tpo": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Tree Preservation Orders Around the Property",
        "operationId": "PropertyDetails-TPO",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Tree Preservation Order List",
            "schema": {
              "$ref": "#/definitions/inline_response_200_8"
            }
          }
        }
      }
    },
    "/property/{propertyID}/listedbuildings": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Listed Buildings Around the Property",
        "operationId": "PropertyDetails-LB",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Listed Buildings List",
            "schema": {
              "$ref": "#/definitions/inline_response_200_9"
            }
          }
        }
      }
    },
    "/property/{propertyID}/recentlysold": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Property Details - Recently Sold Properties",
        "operationId": "PropertyDetails-RS",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userID",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bedroom",
            "in": "query",
            "description": "Bedroom numbers seperated by comma. 1,2,3,4,5,6(for greater than 5)",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Property types seperated by comma. Flat,Detached,Semi-Detached,Terraced,Other",
            "required": false,
            "type": "string"
          },
          {
            "name": "price1",
            "in": "query",
            "description": "Minimum price. Ex: 300000",
            "required": false,
            "type": "integer"
          },
          {
            "name": "price2",
            "in": "query",
            "description": "Maximum price. Ex: 500000",
            "required": false,
            "type": "integer"
          },
          {
            "name": "searchDistance",
            "in": "query",
            "description": "Search radius. Accepted values are : \"0\",\"0.25\", \"0.50\", \"1\",\"2\",\"3\", \"5\",\"10\"",
            "required": false,
            "type": "number"
          },
          {
            "name": "searchDate",
            "in": "query",
            "description": "Properties sold in. Accepted values: \"6\",\"12\",\"18\",\"24\",\"36\",\"36+\"",
            "required": false,
            "type": "number"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts results. \"1: Price (asc)\", \"2: Price (desc)\" , \"3 : Distance (asc)\"",
            "required": false,
            "type": "number"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Recently sold property list",
            "schema": {
              "$ref": "#/definitions/inline_response_200_10"
            }
          }
        }
      }
    },
    "/property/{propertyID}/currentlyforsale": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Property Details - CFS-UO",
        "operationId": "PropertyDetails-CFS-UO",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bedroom",
            "in": "query",
            "description": "Bedroom numbers seperated by comma. 1,2,3,4,5,6(for greater than 5)",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Property types seperated by comma. Flat,Detached,Semi-Detached,Terraced,Other",
            "required": false,
            "type": "string"
          },
          {
            "name": "price1",
            "in": "query",
            "description": "Minimum price. Ex: 300000",
            "required": false,
            "type": "integer"
          },
          {
            "name": "price2",
            "in": "query",
            "description": "Maximum price. Ex: 500000",
            "required": false,
            "type": "integer"
          },
          {
            "name": "searchDistance",
            "in": "query",
            "description": "Search radius. Accepted values are : \"0\",\"0.25\", \"0.50\", \"1\",\"2\",\"3\", \"5\",\"10\"",
            "required": false,
            "type": "number"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts results. \"1: Price (asc)\", \"2: Price (desc)\" , \"3 : Distance (asc)\"",
            "required": false,
            "type": "number"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/inline_response_200_11"
            }
          }
        }
      }
    },
    "/property/{uprn}/{status}": {
      "get": {
        "tags": ["Property"],
        "summary": "Property Details - Comparables (Unified)",
        "description": "Returns comparable properties near the target property. `status` selects the listing category — sales: `available`, `sstc`, `forsalewithdrawn`, `soldwithdrawn`; lettings: `tolet`, `letagreed`, `letagreedwithdrawn`, `letwithdrawn`. Price, bedroom, property-type, distance and sort filters behave the same as on /currentlyforsale and /recentlysold.",
        "operationId": "PropertyDetails-Comparables",
        "produces": ["application/json"],
        "parameters": [
          { "name": "SPRIFT-API-KEY", "in": "header", "required": true, "type": "string" },
          { "name": "uprn", "in": "path", "description": "Unique Property Reference Number", "required": true, "type": "integer" },
          {
            "name": "status", "in": "path", "required": true, "type": "string",
            "description": "Listing status to filter by. Sales: `available` (currently listed for sale), `sstc` (sold subject to contract — sale agreed but not completed), `forsalewithdrawn` (was listed for sale, then withdrawn without a sale), `soldwithdrawn` (was listed for sale, went SSTC, then withdrawn from portal after sale completed). Lettings: `tolet` (currently listed to let), `letagreed` (tenant agreed), `letagreedwithdrawn` (was let agreed, then withdrawn), `letwithdrawn` (was listed to let, then withdrawn without agreement).",
            "enum": ["available", "sstc", "forsalewithdrawn", "soldwithdrawn", "tolet", "letagreed", "letagreedwithdrawn", "letwithdrawn"]
          },
          { "name": "bedroom", "in": "query", "required": false, "type": "string" },
          { "name": "type", "in": "query", "description": "Property types seperated by comma. Flat,Detached,Semi-Detached,Terraced,Other", "required": false, "type": "string" },
          { "name": "price1", "in": "query", "required": false, "type": "integer" },
          { "name": "price2", "in": "query", "required": false, "type": "integer" },
          { "name": "searchDistance", "in": "query", "description": "Search radius in miles (default 0.5)", "required": false, "type": "number" },
          { "name": "sort", "in": "query", "description": "1: Price asc, 2: Price desc, 3: Distance asc", "required": false, "type": "number" },
          { "name": "limit", "in": "query", "description": "Maximum number of results to return. Default 30, max 100.", "required": false, "type": "integer" },
          { "name": "days", "in": "query", "description": "Only return listings from the last N days. Omit for all time.", "required": false, "type": "integer" },
          { "name": "newBuild", "in": "query", "description": "Set to 1 to return new-build properties only.", "required": false, "type": "string" },
          { "name": "bungalow", "in": "query", "description": "Set to 1 to return bungalows only.", "required": false, "type": "string" }
        ],
        "deprecated": false,
        "responses": {
          "200": { "description": "Comparables list", "schema": { "$ref": "#/definitions/inline_response_200_comparables" } },
          "400": { "description": "Unknown comparable type" }
        }
      }
    },
    "/property/{uprn}/materialinformation": {
      "get": {
        "tags": ["Property"],
        "summary": "Property Details - Material Information",
        "operationId": "PropertyDetails-MaterialInformation",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "uprn",
            "in": "path",
            "description": "Property UPRN",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/inline_response_200_13"
            }
          }
        }
      }
    },
    "/property/{uprn}/search": {
      "get": {
        "tags": [
          "Property V2"
        ],
        "summary": "Returns Raw Details of the property",
        "operationId": "Property-RawData",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "Sprift API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "uprn",
            "in": "path",
            "description": "Property UPRN",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Property Raw Details",
            "schema": {
              "$ref": "#/definitions/inline_response_200_v2_search"
            }
          }
        }
      }
    },
    "/property/{uprn}/propertyid": {
      "get": {
        "tags": [
          "Property V2"
        ],
        "summary": "Returns Property ID of the Property",
        "operationId": "Property-ID",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "Sprift API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "uprn",
            "in": "path",
            "description": "Property UPRN",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Property ID",
            "schema": {
              "$ref": "#/definitions/inline_response_200_v2_propertyid"
            }
          }
        }
      }
    },
    "/property/{propertyID}/priceestimate": {
      "get": {
        "tags": [
          "Property V2"
        ],
        "summary": "Returns Price Estimate Details of the Property",
        "operationId": "Property-Price-Estimate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Property Price Estimate Details",
            "schema": {
              "$ref": "#/definitions/inline_response_200_v2_priceestimate"
            }
          }
        }
      }
    },
    "/property/{propertyID}/counciltax": {
      "get": {
        "tags": [
          "Property V2"
        ],
        "summary": "Returns Council Tax Details of the Property",
        "operationId": "Property-Council-Tax",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Property Council Tax Details",
            "schema": {
              "$ref": "#/definitions/inline_response_200_v2_counciltax"
            }
          }
        }
      }
    },
    "/property/{propertyID}/epc": {
      "get": {
        "tags": [
          "Property V2"
        ],
        "summary": "Returns EPC Details of the Property",
        "operationId": "Property-EPC",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Property EPC Details",
            "schema": {
              "$ref": "#/definitions/inline_response_200_v2_epc"
            }
          }
        }
      }
    },
    "/property/{propertyID}/school": {
      "get": {
        "tags": [
          "Property V2"
        ],
        "summary": "Returns Nearby Schools Detail of the Property",
        "operationId": "Property-Nearby-School",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Property Nearby Schools Detail",
            "schema": {
              "$ref": "#/definitions/inline_response_200_v2_nearby_schools"
            }
          }
        }
      }
    },
    "/property/{propertyID}/transport": {
      "get": {
        "tags": [
          "Property V2"
        ],
        "summary": "Returns Nearby Transports Detail of the Property",
        "operationId": "Property-Nearby-Transport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Property Nearby Transports Detail",
            "schema": {
              "$ref": "#/definitions/inline_response_200_v2_nearby_transport"
            }
          }
        }
      }
    },
    "/property/{propertyID}/streetviewmap": {
      "get": {
        "tags": [
          "Property V2"
        ],
        "summary": "Returns Google Street View Image of the Property.",
        "description": "<p>Get property Google street view image as base64 encoded string.</p>",
        "operationId": "PropertyDetails-StreetViewMap",
        "consumes": [
          "applicaton/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "Sprift API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Street View Image",
            "schema": {
              "$ref": "#/definitions/inline_response_200_7_1"
            }
          }
        }
      }
    },
    "/share": {
      "post": {
        "tags": [
          "Share"
        ],
        "summary": "Share Report",
        "description": "Report Type = 1 = Market Appraisal Report (MAR)\nReport Type = 2 = Appointment Confirmation (AC)\nReport Type = 3 = Key Facts for Buyers (KF)\nReport Type = 4 = Property Overview (PO)",
        "operationId": "ShareReport",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyID",
            "in": "formData",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "reportType",
            "in": "formData",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "reportPage",
            "in": "formData",
            "description": "Pages to include in the report.",
            "required": false,
            "type": "string"
          },
          {
            "name": "appointment-date",
            "in": "formData",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "portal_version",
            "in": "formData",
            "description": "Suitable for embedding on your portal/websites - anonymised addresses with no door numbers. You need to pass 1 to use portal version.",
            "required": false,
            "type": "number"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Returns report link to share",
            "schema": {
              "$ref": "#/definitions/inline_response_200_12"
            }
          }
        }
      }
    },
    "/insider/{outcode}": {
      "get": {
        "tags": [
          "Insider"
        ],
        "summary": "Search insider active properties by outcode.",
        "operationId": "InsiderActivePropertiesResult",
        "consumes": [
          "applicaton/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "Sprift API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "outcode",
            "in": "path",
            "description": "Outcode to search",
            "required": true,
            "type": "string"
          },
          {
            "name": "group",
            "in": "query",
            "description": "sale or rent",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Insider Active Properties Results",
            "schema": {
              "$ref": "#/definitions/inline_response_200_insider"
            }
          }
        }
      }
    },
    "/insider/{outcode}/withdrawn": {
      "get": {
        "tags": [
          "Insider"
        ],
        "summary": "Search insider withdrawn properties by outcode.",
        "operationId": "InsiderWithdrawnPropertiesResult",
        "consumes": [
          "applicaton/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SPRIFT-API-KEY",
            "in": "header",
            "description": "Sprift API Key",
            "required": true,
            "type": "string"
          },
          {
            "name": "outcode",
            "in": "path",
            "description": "Outcode to search",
            "required": true,
            "type": "string"
          },
          {
            "name": "group",
            "in": "query",
            "description": "sale or rent",
            "required": false,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Insider Withdrawn Properties Results",
            "schema": {
              "$ref": "#/definitions/inline_response_200_insider"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "auth": {
      "type": "basic"
    }
  },
  "definitions": {
    "inline_response_403_1": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "False if API key is invalid"
        },
        "error": {
          "type": "string",
          "description": "Error message"
        }
      }
    },
    "inline_response_200_5_street_view_pov": {
      "type": "object",
      "properties": {
        "lat": {
          "type": "string"
        },
        "lng": {
          "type": "string"
        },
        "heading": {
          "type": "number"
        },
        "pitch": {
          "type": "number"
        },
        "zoom": {
          "type": "number"
        }
      },
      "description": "Google Street View Correction"
    },
    "inline_response_200_5_nearby_transport_Local_Connections": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "elements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inline_response_200_5_nearby_transport_Local_Connections_elements"
          }
        }
      }
    },
    "inline_response_200_5_broadband_speeds_data": {
      "type": "object",
      "properties": {
        "basicDown": {
          "type": "number"
        },
        "basicUp": {
          "type": "number"
        },
        "superDown": {
          "type": "number"
        },
        "superUp": {
          "type": "number"
        },
        "ultraDown": {
          "type": "number"
        },
        "ultraUp": {
          "type": "number"
        }
      }
    },
    "inline_response_200_5_mobile_coverage_data": {
      "type": "object",
      "properties": {
        "EEIndoor": {
          "type": "number"
        },
        "3Indoor": {
          "type": "number"
        },
        "O2Indoor": {
          "type": "number"
        },
        "VOIndoor": {
          "type": "number"
        }
      }
    },
    "inline_response_200_11": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "comparables": {
          "$ref": "#/definitions/inline_response_200_11_comparables"
        }
      }
    },
    "inline_response_200_comparables": {
      "type": "object",
      "properties": {
        "status": { "type": "boolean" },
        "category": { "type": "string", "enum": ["SALE", "LETTINGS"] },
        "type": {
          "type": "array",
          "description": "The listing-status values that were queried against OpenSearch for the requested type.",
          "items": { "type": "string" }
        },
        "properties": {
          "type": "array",
          "items": { "$ref": "#/definitions/inline_response_200_comparables_item" }
        }
      }
    },
    "inline_response_200_comparables_item": {
      "type": "object",
      "properties": {
        "uprn":             { "type": "integer" },
        "full_address":     { "type": "string" },
        "postcode":         { "type": "string" },
        "price":            { "type": "integer", "description": "Raw price in GBP. Sale price for sales types, or monthly rent (PCM) for lettings." },
        "price_formatted":  { "type": "string", "description": "Price with thousands separators (e.g. '1,250,000')." },
        "type":             { "type": "string", "description": "Property type: Flat, Detached, Semi-Detached, Terrace." },
        "beds":             { "type": "integer" },
        "tenure":           { "type": "string", "description": "Freehold, Leasehold, etc." },
        "listing_status":   { "type": "string" },
        "listing_date":     { "type": "string", "description": "Date the property was listed (dd/mm/YYYY)." },
        "withdrawn_date":   { "type": "string", "description": "Date the listing was withdrawn, if applicable." },
        "sstc_date":        { "type": "string", "description": "Date the property went SSTC, if applicable." },
        "let_agreed_date":  { "type": "string", "description": "Date the property went let agreed, if applicable." },
        "time_on_market":   { "type": "string" },
        "lat":              { "type": "number" },
        "lng":              { "type": "number" },
        "distanceTo":       { "type": "number", "description": "Distance from target property in miles." },
        "sqf":              { "type": "number", "description": "Floor area in square feet." },
        "sqm":              { "type": "number", "description": "Floor area in square metres." },
        "ppsf":             { "type": "number", "description": "Price per square foot." },
        "agent":            { "type": "string", "description": "Listing agent name." },
        "images":           { "type": "array", "items": { "type": "string" }, "description": "Property image URLs." },
        "floorplans":       { "type": "array", "items": { "type": "string" }, "description": "Floorplan image URLs." },
        "portal_links":     { "type": "object", "description": "Links to the listing on each portal (keys: zoopla, rightmove, onthemarket)." },
        "street_view_url":  { "type": "string" }
      }
    },
    "inline_response_200_10": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "sold_properties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inline_response_200_10_sold_properties"
          }
        }
      }
    },
    "inline_response_200_5_landRegistry": {
      "type": "object",
      "properties": {
        "last_sold_price": {
          "type": "string"
        },
        "last_sold_price_display": {
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "Currency Logo"
        },
        "transfer_date": {
          "type": "string",
          "description": "Property transfer date"
        },
        "property_type": {
          "type": "string",
          "description": "Property type"
        },
        "land_registry_value": {
          "type": "string"
        },
        "duration_full": {
          "type": "string",
          "description": "Freehold or Leasehold"
        },
        "needs_loading": {
          "type": "boolean"
        },
        "rule_used": {
          "type": "string"
        }
      }
    },
    "inline_response_200_12": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "share_link": {
          "type": "string",
          "description": "URL of the report"
        }
      }
    },
    "inline_response_200_11_comparables_price": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "integer"
        },
        "frequency": {
          "type": "string"
        },
        "currencyCode": {
          "type": "string"
        },
        "displayPrices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inline_response_200_11_comparables_price_displayPrices"
          }
        }
      }
    },
    "inline_response_200_5_interior": {
      "type": "object",
      "properties": {
        "bedroom": {
          "type": "string"
        },
        "bathroom": {
          "type": "string"
        },
        "reception": {
          "type": "string"
        },
        "separateWc": {
          "type": "string"
        },
        "dining": {
          "type": "string"
        },
        "outsideSpace": {
          "type": "string"
        },
        "parking": {
          "type": "string"
        },
        "kitchenUtility": {
          "type": "string"
        }
      }
    },
    "inline_response_200_11_comparables_price_displayPrices": {
      "type": "object",
      "properties": {
        "displayPrice": {
          "type": "string"
        },
        "displayPriceQualifier": {
          "type": "string"
        }
      }
    },
    "inline_response_200_5_nearby_transport": {
      "type": "object",
      "properties": {
        "Local_Connections": {
          "$ref": "#/definitions/inline_response_200_5_nearby_transport_Local_Connections"
        },
        "National_Rail_Stations": {
          "$ref": "#/definitions/inline_response_200_5_nearby_transport_Local_Connections"
        },
        "Ferry_Terminals": {
          "$ref": "#/definitions/inline_response_200_5_nearby_transport_Local_Connections"
        },
        "Bus_Stops_Stations": {
          "$ref": "#/definitions/inline_response_200_5_nearby_transport_Local_Connections"
        },
        "Trunk_Roads_Motorways": {
          "$ref": "#/definitions/inline_response_200_5_nearby_transport_Local_Connections"
        },
        "Airports_Helipads": {
          "$ref": "#/definitions/inline_response_200_5_nearby_transport_Local_Connections"
        }
      },
      "description": "Nearby Transport Links"
    },
    "inline_response_200_5_broadband_speeds": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/inline_response_200_5_broadband_speeds_data"
        }
      }
    },
    "inline_response_200_5_mobile_coverage": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/inline_response_200_5_mobile_coverage_data"
        }
      },
      "description": "Broadband Speed"
    },
    "inline_response_200_5_councilTax": {
      "type": "object",
      "properties": {
        "property_id": {
          "type": "string"
        },
        "council_tax_band": {
          "type": "string"
        },
        "council_tax_monthly_cost": {
          "type": "string"
        },
        "council_tax_annual_cost": {
          "type": "string"
        },
        "council_tax_update_date": {
          "type": "string"
        }
      }
    },
    "inline_response_200_5_nearby_transport_Local_Connections_elements": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "latitude": {
          "type": "number"
        },
        "longitude": {
          "type": "number"
        },
        "distance": {
          "type": "number"
        },
        "metres": {
          "type": "number"
        },
        "distanceInMiles": {
          "type": "number"
        }
      }
    },
    "inline_response_200_11_comparables_location": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number"
        },
        "longitude": {
          "type": "number"
        }
      }
    },
    "inline_response_200_10_sold_properties": {
      "type": "object",
      "properties": {
        "property_id": {
          "type": "number"
        },
        "tenure": {
          "type": "string"
        },
        "full_address": {
          "type": "string"
        },
        "price": {
          "type": "number"
        },
        "date_sold": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "beds": {
          "type": "string"
        },
        "postcode": {
          "type": "string"
        },
        "lat": {
          "type": "number"
        },
        "lng": {
          "type": "number"
        },
        "distanceTo": {
          "type": "string"
        },
        "sqm": {
          "type": "number"
        },
        "sqf": {
          "type": "number"
        },
        "ppsf": {
          "type": "number"
        },
        "street_view_url": {
          "type": "string"
        }
      },
      "description": "Sold Property Data"
    },
    "inline_response_200_11_comparables_properties": {
      "type": "object",
      "properties": {
        "propID": {
          "type": "integer"
        },
        "propertyTypeFullDescription": {
          "type": "string"
        },
        "propertyImages": {
          "$ref": "#/definitions/inline_response_200_11_comparables_propertyImages"
        },
        "price": {
          "$ref": "#/definitions/inline_response_200_11_comparables_price"
        },
        "displayAddress": {
          "type": "string"
        },
        "firstVisibleDate": {
          "type": "string"
        },
        "propertySubType": {
          "type": "string"
        },
        "distance": {
          "type": "number"
        },
        "bedrooms": {
          "type": "integer"
        },
        "propertyUrl": {
          "type": "string"
        },
        "displayStatus": {
          "type": "string",
          "description": "Property current status. Sold STC, Under Offer etc."
        },
        "location": {
          "$ref": "#/definitions/inline_response_200_11_comparables_location"
        },
        "transactionType": {
          "type": "string",
          "description": "Property is for sale or rent."
        }
      }
    },
    "inline_response_200": {
      "type": "object",
      "properties": {
        "total_reports": {
          "type": "integer",
          "description": "Number of total properties in users search history"
        },
        "reports": {
          "type": "array",
          "description": "Property list for search history",
          "items": {
            "$ref": "#/definitions/inline_response_200_reports"
          }
        },
        "has_next_page": {
          "type": "boolean",
          "description": "Return true if there are more properties to show. False if not."
        }
      }
    },
    "inline_response_200_3_total": {
      "type": "object",
      "properties": {
        "LPI": {
          "type": "integer"
        },
        "DPA": {
          "type": "integer"
        }
      }
    },
    "inline_response_200_5_nearby_schools": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "ofsted_rating": {
          "type": "string"
        },
        "pupils": {
          "type": "number"
        },
        "distance": {
          "type": "number"
        },
        "latitude": {
          "type": "number"
        },
        "longitude": {
          "type": "number"
        },
        "school_type": {
          "$ref": "#/definitions/inline_response_200_5_school_type"
        }
      }
    },
    "inline_response_200_11_comparables_propertyImages": {
      "type": "object",
      "properties": {
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inline_response_200_11_comparables_propertyImages_images"
          }
        },
        "mainImageSrc": {
          "type": "string"
        },
        "mainImageSrcset": {
          "type": "string"
        },
        "mainMapImageSrc": {
          "type": "string"
        },
        "mainMapImageSrcset": {
          "type": "string"
        }
      }
    },
    "inline_response_403": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "example": false,
          "description": "False if API key is invalid"
        },
        "error": {
          "type": "string",
          "description": "Error message"
        }
      }
    },
    "inline_response_200_5_propertyImages": {
      "type": "object",
      "properties": {
        "propertyImage": {
          "type": "string",
          "description": "Property Image URL"
        },
        "propetyImageId": {
          "type": "string"
        },
        "propertyImageType": {
          "type": "string"
        }
      }
    },
    "inline_response_400": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "example": false
        },
        "error": {
          "type": "string",
          "example": "Missing Username or Password!"
        }
      }
    },
    "inline_response_200_9": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "listed_buildings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inline_response_200_9_listed_buildings"
          }
        }
      }
    },
    "inline_response_200_11_comparables": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer"
        },
        "property_type_description": {
          "type": "string"
        },
        "classification_codes": {
          "type": "string"
        },
        "additional_params": {
          "type": "string"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inline_response_200_11_comparables_properties"
          }
        }
      }
    },
    "inline_response_200_reports": {
      "type": "object",
      "properties": {
        "property_id": {
          "type": "integer",
          "description": "ID of property"
        },
        "area_name": {
          "type": "string"
        },
        "property_address_flat_number": {
          "type": "string",
          "description": "Flat number of the property"
        },
        "property_address_building_number": {
          "type": "string",
          "description": "Building number of the property"
        },
        "property_address_building_name": {
          "type": "string",
          "description": "Building name of the property"
        },
        "property_address_sub_street_name": {
          "type": "string",
          "description": "Sub street name of the property"
        },
        "property_address_street_name": {
          "type": "string",
          "description": "Street name of the property"
        },
        "property_address_town": {
          "type": "string",
          "description": "Town"
        },
        "property_lat": {
          "type": "string",
          "description": "Latitude of the property"
        },
        "property_lng": {
          "type": "string",
          "description": "Longitude of the property"
        },
        "property_bng_x": {
          "type": "string",
          "description": "British National Grid X Coordinate of the property"
        },
        "property_bng_y": {
          "type": "string",
          "description": "British National Grid Y Coordinate of the property"
        },
        "property_number": {
          "type": "string"
        },
        "property_electoral_roll": {
          "type": "string"
        },
        "property_local_authority": {
          "type": "string"
        },
        "property_classification_code": {
          "type": "string"
        },
        "property_classi_code_description": {
          "type": "string"
        },
        "property_post_code": {
          "type": "string"
        },
        "property_flood_risk": {
          "type": "string"
        },
        "property_flood_risk_date": {
          "type": "string",
          "description": "Last update date of the area"
        },
        "property_conservation_area": {
          "type": "string"
        },
        "property_conservation_area_date": {
          "type": "string",
          "description": "Last update date of the area"
        },
        "property_sprift_value": {
          "type": "string"
        },
        "property_land_registry_value": {
          "type": "string"
        },
        "property_land_registry_last_update": {
          "type": "string"
        },
        "property_land_registry_rule_used": {
          "type": "string"
        },
        "property_type": {
          "type": "string"
        },
        "property_add_date": {
          "type": "string",
          "description": "Sprift Report created date"
        },
        "property_alias": {
          "type": "string"
        },
        "property_del_status": {
          "type": "string"
        },
        "property_street_view_pov": {
          "type": "string",
          "description": "Google street view camera positioning"
        },
        "property_archived": {
          "type": "string"
        },
        "property_user_total_floor_area": {
          "type": "string"
        },
        "property_user_type": {
          "type": "string"
        },
        "property_user_total_floor_area_last_modified": {
          "type": "string"
        },
        "property_user_year_built": {
          "type": "string"
        },
        "nearby_property_sold_updated_on": {
          "type": "boolean"
        },
        "is_dummy": {
          "type": "string"
        },
        "property_uprn": {
          "type": "string"
        },
        "user_property_classification_code_description": {
          "type": "string"
        },
        "property_ppsqft": {
          "type": "string",
          "description": "Property pound per square foot value"
        },
        "last_update": {
          "type": "string"
        },
        "share_count": {
          "type": "string",
          "description": "How many times property shared"
        },
        "view_count": {
          "type": "string",
          "description": "How many times property has been viewed"
        },
        "description_from_admin": {
          "type": "string"
        },
        "property_valuation": {
          "type": "string"
        },
        "report_progress": {
          "type": "string"
        },
        "notifications": {
          "type": "integer",
          "description": "E-mail notification on or off"
        },
        "is_report_charged": {
          "type": "integer",
          "description": "is user charged for viewing this report"
        },
        "propertyDefaultImage": {
          "type": "string",
          "description": "Google street view link"
        }
      }
    },
    "inline_response_200_4_results": {
      "type": "object",
      "properties": {
        "total_reports": {
          "type": "integer"
        },
        "reports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inline_response_200_4_results_reports"
          }
        },
        "has_next_page": {
          "type": "boolean"
        }
      }
    },
    "inline_response_404": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "example": false
        },
        "error": {
          "type": "string",
          "example": "User not found"
        }
      }
    },
    "inline_response_200_5": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "propertyDetails": {
          "$ref": "#/definitions/inline_response_200_5_propertyDetails"
        },
        "floodRisk": {
          "$ref": "#/definitions/inline_response_200_5_floodRisk"
        },
        "coastal_erosion": {
          "type": "string"
        },
        "estimatedPrice": {
          "type": "string"
        },
        "rentalEstimate": {
          "type": "string"
        },
        "yield": {
          "type": "string"
        },
        "landRegistry": {
          "$ref": "#/definitions/inline_response_200_5_landRegistry"
        },
        "propertyValue": {
          "type": "string"
        },
        "poundPerSquareFoot": {
          "type": "string"
        },
        "poundPerSquareFootCurrent": {
          "type": "string"
        },
        "isInteriorUpdated": {
          "type": "boolean"
        },
        "interior": {
          "$ref": "#/definitions/inline_response_200_5_interior"
        },
        "councilTax": {
          "$ref": "#/definitions/inline_response_200_5_councilTax"
        },
        "epc": {
          "$ref": "#/definitions/inline_response_200_5_epc"
        },
        "propertyDefaultImage": {
          "type": "string",
          "description": "Return default image url. If there is no image, return street view url. "
        },
        "propertyImages": {
          "type": "array",
          "description": "Property images",
          "items": {
            "$ref": "#/definitions/inline_response_200_5_propertyImages"
          }
        },
        "street_view_pov": {
          "$ref": "#/definitions/inline_response_200_5_street_view_pov"
        },
        "propertyPolygon": {
          "$ref": "#/definitions/inline_response_200_5_propertyPolygon"
        },
        "nearby_schools": {
          "type": "array",
          "description": "Nearby Schools",
          "items": {
            "$ref": "#/definitions/inline_response_200_5_nearby_schools"
          }
        },
        "nearby_transport": {
          "$ref": "#/definitions/inline_response_200_5_nearby_transport"
        },
        "broadband_speeds": {
          "$ref": "#/definitions/inline_response_200_5_broadband_speeds"
        },
        "mobile_coverage": {
          "$ref": "#/definitions/inline_response_200_5_mobile_coverage"
        }
      }
    },
    "inline_response_200_6": {
      "type": "object",
      "properties": {
        "bt": {
          "type": "boolean"
        },
        "sky": {
          "type": "boolean"
        },
        "virgin": {
          "type": "string"
        }
      }
    },
    "inline_response_200_7": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "propertyMapWithPolygon": {
          "type": "string"
        },
        "propertySatelliteImage": {
          "type": "string"
        },
        "propertyStreetViewImage": {
          "type": "string"
        }
      }
    },
    "inline_response_200_7_1": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "propertyStreetViewImage": {
          "type": "string"
        }
      }
    },
    "inline_response_200_8": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "tpo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inline_response_200_8_tpo"
          }
        }
      }
    },
    "inline_response_200_8_tpo": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number"
        },
        "longitude": {
          "type": "number"
        },
        "species": {
          "type": "string"
        },
        "order": {
          "type": "string"
        },
        "polygon": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "description": "TPO Data"
    },
    "inline_response_200_5_propertyDetails": {
      "type": "object",
      "properties": {
        "property_id": {
          "type": "integer"
        },
        "area_name": {
          "type": "string"
        },
        "property_address_flat_number": {
          "type": "string",
          "description": "Flat number of the property"
        },
        "property_address_building_number": {
          "type": "string",
          "description": "Building number of the property"
        },
        "property_address_building_name": {
          "type": "string",
          "description": "Building name of the property"
        },
        "property_address_sub_street_name": {
          "type": "string",
          "description": "Sub street name of the property"
        },
        "property_address_street_name": {
          "type": "string",
          "description": "Street name of the property"
        },
        "property_address_town": {
          "type": "string",
          "description": "Town"
        },
        "property_lat": {
          "type": "string",
          "description": "Latitude of the property"
        },
        "property_lng": {
          "type": "string",
          "description": "Longitude of the property"
        },
        "property_bng_x": {
          "type": "string",
          "description": "British National Grid X Coordinate of the property"
        },
        "property_bng_y": {
          "type": "string",
          "description": "British National Grid Y Coordinate of the property"
        },
        "property_number": {
          "type": "string"
        },
        "property_electoral_roll": {
          "type": "string"
        },
        "property_local_authority": {
          "type": "string"
        },
        "property_classification_code": {
          "type": "string"
        },
        "property_classi_code_description": {
          "type": "string"
        },
        "property_post_code": {
          "type": "string"
        },
        "property_flood_risk": {
          "type": "string"
        },
        "property_flood_risk_date": {
          "type": "string",
          "description": "Last update date of the area"
        },
        "property_conservation_area": {
          "type": "string"
        },
        "property_conservation_area_date": {
          "type": "string",
          "description": "Last update date of the area"
        },
        "property_sprift_value": {
          "type": "string"
        },
        "property_land_registry_value": {
          "type": "string"
        },
        "property_land_registry_last_update": {
          "type": "string"
        },
        "property_land_registry_rule_used": {
          "type": "string"
        },
        "property_type": {
          "type": "string"
        },
        "property_add_date": {
          "type": "string",
          "description": "Sprift Report created date"
        },
        "property_alias": {
          "type": "string"
        },
        "property_del_status": {
          "type": "string"
        },
        "property_street_view_pov": {
          "type": "string",
          "description": "Google street view camera positioning"
        },
        "property_archived": {
          "type": "string"
        },
        "property_user_total_floor_area": {
          "type": "string"
        },
        "property_user_type": {
          "type": "string"
        },
        "property_user_total_floor_area_last_modified": {
          "type": "string"
        },
        "property_user_year_built": {
          "type": "string"
        },
        "is_dummy": {
          "type": "string"
        },
        "nearby_property_sold_updated_on": {
          "type": "boolean"
        },
        "property_uprn": {
          "type": "string"
        },
        "user_property_classification_code_description": {
          "type": "string"
        },
        "country_code": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "property_user_total_floor_area_sqf": {
          "type": "string"
        },
        "property_ppsqft": {
          "type": "string",
          "description": "Property pound per square foot value"
        },
        "property_beds": {
          "type": "string"
        },
        "property_beds_updatedon": {
          "type": "string"
        },
        "property_baths": {
          "type": "string"
        },
        "property_baths_updatedon": {
          "type": "string"
        },
        "google_streetview_image": {
          "type": "string"
        },
        "pic_images": {
          "type": "string",
          "description": "Property image file name"
        },
        "pic_id": {
          "type": "string"
        },
        "comparable_id": {
          "type": "string"
        },
        "address_str": {
          "type": "string"
        },
        "property_address": {
          "type": "string"
        }
      }
    },
    "inline_response_200_5_epc": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "epc_address": {
          "type": "string"
        },
        "property_id": {
          "type": "integer"
        },
        "epc_total_floor_area": {
          "type": "string"
        },
        "epc_current_energy_efficiency": {
          "type": "string"
        },
        "epc_potential_energy_efficiency": {
          "type": "string"
        },
        "epc_current_energy_rating": {
          "type": "string"
        },
        "epc_potential_energy_rating": {
          "type": "string"
        },
        "epc_certificate_number": {
          "type": "string"
        },
        "epc_update_date": {
          "type": "string"
        },
        "epc_current_energy_efficiency_category": {
          "type": "string"
        },
        "epc_potential_energy_efficiency_category": {
          "type": "string"
        },
        "epc_first_page_report_image": {
          "type": "string",
          "description": "EPC image url"
        },
        "epc_file_date": {
          "type": "string",
          "description": "EPC date of issue"
        }
      }
    },
    "inline_response_200_3_data": {
      "type": "object",
      "properties": {
        "match": {
          "type": "number"
        },
        "address": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "x": {
          "type": "integer"
        },
        "y": {
          "type": "integer"
        },
        "lat": {
          "type": "number"
        },
        "lng": {
          "type": "number"
        },
        "authority": {
          "type": "string"
        },
        "local_authority": {
          "type": "string"
        },
        "dependent_locality": {
          "type": "string"
        },
        "classification_code": {
          "type": "string"
        },
        "property_classification_code": {
          "type": "string"
        },
        "clcode_disription": {
          "type": "string"
        },
        "property_classi_code_description": {
          "type": "string"
        },
        "classification_code_description": {
          "type": "string"
        },
        "flat_number": {
          "type": "string"
        },
        "building_name": {
          "type": "string"
        },
        "building_number": {
          "type": "string"
        },
        "street_name": {
          "type": "string"
        },
        "sub_street_name": {
          "type": "string"
        },
        "town": {
          "type": "string"
        },
        "post_code": {
          "type": "string"
        },
        "uprn": {
          "type": "string"
        }
      }
    },
    "inline_response_200_5_propertyPolygon_property": {
      "type": "object",
      "properties": {
        "uprn": {
          "type": "string"
        },
        "poly_id": {
          "type": "string"
        },
        "poly": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        },
        "area": {
          "type": "number"
        },
        "lrtn": {
          "type": "string"
        },
        "tenure": {
          "type": "string"
        },
        "basic": {
          "type": "boolean"
        },
        "selected": {
          "type": "boolean"
        }
      },
      "description": "Property polygon data"
    },
    "inline_response_200_5_school_type": {
      "type": "object",
      "properties": {
        "nursery": {
          "type": "number"
        },
        "primary": {
          "type": "number"
        },
        "secondary": {
          "type": "number"
        },
        "college": {
          "type": "number"
        },
        "private": {
          "type": "number"
        }
      },
      "description": "Type of school, 1 is true, 0 is false"
    },
    "inline_response_200_9_listed_buildings": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number"
        },
        "longitude": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "grade": {
          "type": "string"
        },
        "listed": {
          "type": "string"
        }
      },
      "description": "Listed Building Data"
    },
    "inline_response_200_1": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "example": true
        },
        "token": {
          "type": "string",
          "description": "Token assigned to the user."
        },
        "expires": {
          "type": "string",
          "description": "Token expiry date"
        },
        "url": {
          "type": "string",
          "description": "The URL that is generated for the logged in User to use Sprift platform without requiring login."
        },
        "telephone": {
          "type": "number",
          "description": "User telephone"
        },
        "email": {
          "type": "string",
          "description": "User email address"
        }
      }
    },
    "inline_response_200_2": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "True if successfull"
        },
        "message": {
          "type": "string",
          "description": "Notification message"
        }
      }
    },
    "inline_response_200_4_results_reports": {
      "type": "object",
      "properties": {
        "property_id": {
          "type": "integer"
        },
        "area_name": {
          "type": "string"
        },
        "property_address_flat_number": {
          "type": "string",
          "description": "Flat number of the property"
        },
        "property_address_building_number": {
          "type": "string",
          "description": "Building number of the property"
        },
        "property_address_building_name": {
          "type": "string",
          "description": "Building name of the property"
        },
        "property_address_sub_street_name": {
          "type": "string",
          "description": "Sub street name of the property"
        },
        "property_address_street_name": {
          "type": "string",
          "description": "Street name of the property"
        },
        "property_address_town": {
          "type": "string",
          "description": "Town"
        },
        "property_lat": {
          "type": "string",
          "description": "Latitude of the property"
        },
        "property_lng": {
          "type": "string",
          "description": "Longitude of the property"
        },
        "property_bng_x": {
          "type": "string",
          "description": "British National Grid X Coordinate of the property"
        },
        "property_bng_y": {
          "type": "string",
          "description": "British National Grid Y Coordinate of the property"
        },
        "property_number": {
          "type": "string"
        },
        "property_electoral_roll": {
          "type": "string"
        },
        "property_local_authority": {
          "type": "string"
        },
        "property_classification_code": {
          "type": "string"
        },
        "property_classi_code_description": {
          "type": "string"
        },
        "property_post_code": {
          "type": "string"
        },
        "property_flood_risk": {
          "type": "string"
        },
        "property_flood_risk_date": {
          "type": "string",
          "description": "Last update date of the area"
        },
        "property_conservation_area": {
          "type": "string"
        },
        "property_conservation_area_date": {
          "type": "string",
          "description": "Last update date of the area"
        },
        "property_sprift_value": {
          "type": "string"
        },
        "property_land_registry_value": {
          "type": "string"
        },
        "property_land_registry_last_update": {
          "type": "string"
        },
        "property_land_registry_rule_used": {
          "type": "string"
        },
        "property_type": {
          "type": "string"
        },
        "property_add_date": {
          "type": "string",
          "description": "Sprift Report created date"
        },
        "property_alias": {
          "type": "string"
        },
        "property_del_status": {
          "type": "string"
        },
        "property_street_view_pov": {
          "type": "string",
          "description": "Google street view camera positioning"
        },
        "property_archived": {
          "type": "string"
        },
        "property_user_total_floor_area": {
          "type": "string"
        },
        "property_user_type": {
          "type": "string"
        },
        "property_user_total_floor_area_last_modified": {
          "type": "string"
        },
        "property_user_year_built": {
          "type": "string"
        },
        "nearby_property_sold_updated_on": {
          "type": "boolean"
        },
        "is_dummy": {
          "type": "string"
        },
        "property_uprn": {
          "type": "string"
        },
        "user_property_classification_code_description": {
          "type": "string"
        },
        "property_ppsqft": {
          "type": "string",
          "description": "Property pound per square foot value"
        },
        "last_update": {
          "type": "number"
        },
        "share_count": {
          "type": "integer"
        },
        "view_count": {
          "type": "number"
        },
        "description_from_admin": {
          "type": "string"
        },
        "property_valuation": {
          "type": "number"
        },
        "report_progress": {
          "type": "integer"
        },
        "notifications": {
          "type": "integer"
        },
        "is_report_charged": {
          "type": "integer"
        },
        "address_str": {
          "type": "string"
        },
        "property_address": {
          "type": "integer"
        },
        "tag": {
          "type": "integer"
        },
        "propertyDefaultImage": {
          "type": "string"
        }
      }
    },
    "inline_response_200_3": {
      "type": "object",
      "properties": {
        "total": {
          "$ref": "#/definitions/inline_response_200_3_total"
        },
        "minmatch": {
          "type": "integer"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inline_response_200_3_data"
          }
        }
      }
    },
    "inline_response_200_4": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "results": {
          "$ref": "#/definitions/inline_response_200_4_results"
        }
      }
    },
    "inline_response_200_11_comparables_propertyImages_images": {
      "type": "object",
      "properties": {
        "srcUrl": {
          "type": "string"
        },
        "srcsetUrl": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "inline_response_200_5_propertyPolygon": {
      "type": "object",
      "properties": {
        "nearby": {
          "type": "object",
          "example": [],
          "description": "Nearby property polygon data. Not in use.",
          "properties": {}
        },
        "property": {
          "$ref": "#/definitions/inline_response_200_5_propertyPolygon_property"
        }
      },
      "description": "Property land registry area polygon data."
    },
    "inline_response_200_v2_search": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "propertyDetails": {
          "$ref": "#/definitions/inline_response_200_5_propertyDetails"
        },
        "floodRisk": {
          "$ref": "#/definitions/inline_response_200_5_floodRisk"
        },
        "coastal_erosion": {
          "type": "string"
        },
        "estimatedPrice": {
          "type": "string"
        },
        "rentalEstimate": {
          "type": "string"
        },
        "yield": {
          "type": "string"
        },
        "landRegistry": {
          "$ref": "#/definitions/inline_response_200_5_landRegistry"
        },
        "propertyValue": {
          "type": "string"
        },
        "poundPerSquareFoot": {
          "type": "string"
        },
        "poundPerSquareFootCurrent": {
          "type": "string"
        },
        "isInteriorUpdated": {
          "type": "boolean"
        },
        "interior": {
          "$ref": "#/definitions/inline_response_200_5_interior"
        },
        "propertyDefaultImage": {
          "type": "string",
          "description": "Return default image url. If there is no image, return street view url. "
        },
        "propertyImages": {
          "type": "array",
          "description": "Property images",
          "items": {
            "$ref": "#/definitions/inline_response_200_5_propertyImages"
          }
        },
        "street_view_pov": {
          "$ref": "#/definitions/inline_response_200_5_street_view_pov"
        },
        "propertyPolygon": {
          "$ref": "#/definitions/inline_response_200_5_propertyPolygon"
        },
        "broadband_speeds": {
          "$ref": "#/definitions/inline_response_200_5_broadband_speeds_data"
        },
        "mobile_coverage": {
          "$ref": "#/definitions/inline_response_200_5_mobile_coverage_data"
        }
      }
    },
    "inline_response_200_v2_propertyid": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "property_id": {
          "type": "integer"
        }
      }
    },
    "inline_response_200_v2_priceestimate": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "estimatedPrice": {
          "type": "string"
        },
        "rentalEstimate": {
          "type": "string"
        },
        "yield": {
          "type": "string"
        }
      }
    },
    "inline_response_200_v2_counciltax": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "councilTax": {
          "$ref": "#/definitions/inline_response_200_5_councilTax"
        }
      }
    },
    "inline_response_200_v2_epc": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "epc": {
          "$ref": "#/definitions/inline_response_200_5_epc"
        }
      }
    },
    "inline_response_200_v2_nearby_schools": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "nearby_schools": {
          "$ref": "#/definitions/inline_response_200_5_nearby_schools"
        }
      }
    },
    "inline_response_200_v2_nearby_transport": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean"
        },
        "nearby_transport": {
          "$ref": "#/definitions/inline_response_200_5_nearby_transport"
        }
      }
    },
    "inline_response_200_insider": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inline_response_200_insider_item"
          }
        }
      }
    },
    "inline_response_200_insider_item": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "file": {
          "type": "string"
        },
        "checksum": {
          "type": "string"
        },
        "rmid": {
          "type": "string"
        },
        "uprn": {
          "type": "string"
        },
        "confidence": {
          "type": "number"
        },
        "postcode": {
          "type": "string"
        },
        "outcode": {
          "type": "string"
        },
        "scannedAt": {
          "type": "string"
        },
        "submittedAt": {
          "type": "string"
        },
        "details": {
          "$ref": "#/definitions/inline_response_200_insider_item_details"
        },
        "portals": {
          "$ref": "#/definitions/inline_response_200_insider_item_portals"
        },
        "point": {
          "$ref": "#/definitions/inline_response_200_insider_item_point"
        },
        "status": {
          "type": "string"
        },
        "withdrawn": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inline_response_200_insider_item_images"
          }
        }
      }
    },
    "inline_response_200_insider_item_details": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "addressable": {
          "type": "string"
        },
        "price": {
          "type": "string"
        },
        "agent": {
          "type": "string"
        },
        "agent_id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "beds": {
          "type": "number"
        },
        "isNew": {
          "type": "string"
        },
        "epc": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stc": {
          "type": "string"
        },
        "tenure": {
          "type": "string"
        },
        "key_features": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "inline_response_200_insider_item_portals": {
      "type": "object",
      "properties": {
        "rightmove": {
          "$ref": "#/definitions/inline_response_200_insider_item_portals_property_details"
        },
        "zoopla": {
          "$ref": "#/definitions/inline_response_200_insider_item_portals_property_details"
        },
        "boomin": {
          "$ref": "#/definitions/inline_response_200_insider_item_portals_property_details"
        }
      }
    },
    "inline_response_200_insider_item_portals_property_details": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number"
        },
        "link": {
          "type": "string"
        },
        "header": {
          "type": "string"
        },
        "listed": {
          "type": "string"
        }
      }
    },
    "inline_response_200_insider_item_point": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        }
      }
    },
    "inline_response_200_insider_item_images": {
      "type": "object",
      "properties": {
        "image_key": {
          "type": "string"
        },
        "image_url": {
          "type": "string"
        },
        "thumb_url": {
          "type": "string"
        }
      }
    },
    "inline_response_200_5_floodRisk": {
      "type": "object",
      "properties": {
        "rivers_seas": {
          "type": "string"
        },
        "surface_water": {
          "type": "string"
        }
      }
    },
    "inline_response_200_13": {
      "type": "object",
      "properties": {
        "status": {
          "type": "boolean",
          "example": true,
          "description": "Status of the API request"
        },
        "data": {
          "$ref": "#/definitions/inline_response_200_1_materialinformation"
        }
      }
    },
    "inline_response_200_1_materialinformation": {
      "type": "object",
      "properties": {
        "uprn": {
          "type": "integer",
          "description": "Unique Property Reference Number"
        },
        "A": {
          "$ref": "#/definitions/inline_response_200_1_materialinformation_financialtenure"
        },
        "B": {
          "$ref": "#/definitions/inline_response_200_1_materialinformation_physicalcharacteristics"
        },
        "C": {
          "$ref": "#/definitions/inline_response_200_1_materialinformation_environmentalplanning"
        }
      }
    },
    "inline_response_200_1_materialinformation_financialtenure": {
      "type": "object",
      "description": "Financial and Tenure Information",
      "properties": {
        "rent_frequency": {
          "type": "string",
          "nullable": true,
          "description": "Frequency of rent payment"
        },
        "price_qualifier": {
          "type": "string",
          "nullable": true,
          "description": "Price qualifier abbreviation"
        },
        "tenure_l_f": {
          "type": "string",
          "nullable": true,
          "description": "Tenure type (Leasehold/Freehold)"
        },
        "lease_term_remaining": {
          "type": "integer",
          "nullable": true,
          "description": "Remaining lease term in years"
        },
        "counciltax": {
          "type": "string",
          "nullable": true,
          "description": "Council tax band"
        },
        "valuation_filter": {
          "type": "integer",
          "nullable": true,
          "description": "Property valuation amount"
        },
        "price_per_sqft": {
          "type": "number",
          "nullable": true,
          "description": "Price per square foot"
        },
        "ground_rent": {
          "type": "number",
          "nullable": true,
          "description": "Annual ground rent amount"
        },
        "ground_rent_review_period": {
          "type": "string",
          "nullable": true,
          "description": "Ground rent review period"
        },
        "service_charge": {
          "type": "number",
          "nullable": true,
          "description": "Annual service charge amount"
        },
        "security_deposit": {
          "type": "number",
          "nullable": true,
          "description": "Security deposit amount"
        }
      }
    },
    "inline_response_200_1_materialinformation_physicalcharacteristics": {
      "type": "object",
      "description": "Physical Property Characteristics",
      "properties": {
        "property_description": {
          "type": "string",
          "nullable": true,
          "description": "Detailed property description"
        },
        "construction_type": {
          "type": "string",
          "nullable": true,
          "description": "Type of construction"
        },
        "radon_risk": {
          "type": "string",
          "nullable": true,
          "description": "Radon risk percentage range"
        },
        "mainheat_description": {
          "type": "string",
          "nullable": true,
          "description": "Main heating system description"
        },
        "property_type_basic": {
          "type": "string",
          "nullable": true,
          "description": "Basic property type classification"
        },
        "floorplan_filenames": {
          "type": "array",
          "description": "Array of floorplan image URLs",
          "items": {
            "type": "string",
            "format": "uri"
          }
        },
        "propertyimage_filenames": {
          "type": "array",
          "description": "Array of property image URLs",
          "items": {
            "type": "string",
            "format": "uri"
          }
        },
        "plot_size": {
          "type": "number",
          "nullable": true,
          "description": "Plot size in acres"
        },
        "total_floor_area_sqft": {
          "type": "integer",
          "nullable": true,
          "description": "Total floor area in square feet"
        },
        "floor_level": {
          "type": "integer",
          "nullable": true,
          "description": "Floor level for flats/apartments"
        },
        "above_commercial_premises": {
          "type": "string",
          "nullable": true,
          "description": "Indicates if property is above commercial premises"
        },
        "non_standard_construction_flag": {
          "type": "string",
          "nullable": true,
          "description": "Indicates non-standard construction"
        },
        "parking_description": {
          "type": "string",
          "nullable": true,
          "description": "Parking arrangement description"
        },
        "cost_to_park": {
          "type": "number",
          "nullable": true,
          "description": "Cost of parking"
        },
        "parking_proximity": {
          "type": "string",
          "nullable": true,
          "description": "Proximity of parking to property"
        },
        "bedrooms": {
          "type": "integer",
          "nullable": true,
          "description": "Number of bedrooms"
        },
        "bathrooms": {
          "type": "integer",
          "nullable": true,
          "description": "Number of bathrooms"
        }
      }
    },
    "inline_response_200_1_materialinformation_environmentalplanning": {
      "type": "object",
      "description": "Environmental and Planning Information",
      "properties": {
        "coastal_erosion_flag_all": {
          "type": "integer",
          "nullable": true,
          "description": "Coastal erosion risk indicator (0=No Risk, 1=Risk)"
        },
        "listed_building_indicator": {
          "type": "string",
          "nullable": true,
          "description": "Indicates if property is a listed building"
        },
        "restrictive_covenant_indicator": {
          "type": "integer",
          "nullable": true,
          "description": "Restrictive covenant presence (0=No, 1=Yes)"
        },
        "conservation_area": {
          "type": "string",
          "nullable": true,
          "description": "Conservation area name"
        },
        "aonb": {
          "type": "string",
          "nullable": true,
          "description": "Area of Outstanding Natural Beauty designation"
        },
        "greenbelt": {
          "type": "string",
          "nullable": true,
          "description": "Greenbelt designation"
        },
        "pylon_proximity": {
          "type": "integer",
          "nullable": true,
          "description": "Distance to nearest pylon in meters"
        },
        "common_land": {
          "type": "string",
          "nullable": true,
          "description": "Common land designation"
        },
        "national_park": {
          "type": "string",
          "nullable": true,
          "description": "National park designation"
        },
        "surface_water_current_depth_0": {
          "type": "string",
          "nullable": true,
          "description": "Current surface water flood risk at 0m depth"
        },
        "surface_water_current_depth_0_2_m": {
          "type": "string",
          "nullable": true,
          "description": "Current surface water flood risk at 0.2m depth"
        },
        "surface_water_current_depth_0_3_m": {
          "type": "string",
          "nullable": true,
          "description": "Current surface water flood risk at 0.3m depth"
        },
        "surface_water_current_depth_0_6_m": {
          "type": "string",
          "nullable": true,
[...]
