openapi: 3.2.0
info:
  description: ''
  version: 1.3.9
  title: Sprift Property V2 API
  contact: {}
servers:
- url: https://sprift.com/dashboard/api/v1
security:
- auth: []
tags:
- name: Property V2
paths:
  /property/{uprn}/search:
    get:
      tags:
      - Property V2
      summary: Returns Raw Details of the property
      operationId: Property-RawData
      parameters:
      - name: SPRIFT-API-KEY
        in: header
        description: Sprift API Key
        required: true
        schema:
          type: string
      - name: uprn
        in: path
        description: Property UPRN
        required: true
        schema:
          type: integer
          format: int32
      deprecated: false
      responses:
        '200':
          description: Property Raw Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_v2_search'
  /property/{uprn}/propertyid:
    get:
      tags:
      - Property V2
      summary: Returns Property ID of the Property
      operationId: Property-ID
      parameters:
      - name: SPRIFT-API-KEY
        in: header
        description: Sprift API Key
        required: true
        schema:
          type: string
      - name: uprn
        in: path
        description: Property UPRN
        required: true
        schema:
          type: integer
          format: int32
      deprecated: false
      responses:
        '200':
          description: Property ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_v2_propertyid'
  /property/{propertyID}/priceestimate:
    get:
      tags:
      - Property V2
      summary: Returns Price Estimate Details of the Property
      operationId: Property-Price-Estimate
      parameters:
      - name: SPRIFT-API-KEY
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: propertyID
        in: path
        description: Property ID
        required: true
        schema:
          type: integer
          format: int32
      deprecated: false
      responses:
        '200':
          description: Property Price Estimate Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_v2_priceestimate'
  /property/{propertyID}/counciltax:
    get:
      tags:
      - Property V2
      summary: Returns Council Tax Details of the Property
      operationId: Property-Council-Tax
      parameters:
      - name: SPRIFT-API-KEY
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: propertyID
        in: path
        description: Property ID
        required: true
        schema:
          type: integer
          format: int32
      deprecated: false
      responses:
        '200':
          description: Property Council Tax Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_v2_counciltax'
  /property/{propertyID}/epc:
    get:
      tags:
      - Property V2
      summary: Returns EPC Details of the Property
      operationId: Property-EPC
      parameters:
      - name: SPRIFT-API-KEY
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: propertyID
        in: path
        description: Property ID
        required: true
        schema:
          type: integer
          format: int32
      deprecated: false
      responses:
        '200':
          description: Property EPC Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_v2_epc'
  /property/{propertyID}/school:
    get:
      tags:
      - Property V2
      summary: Returns Nearby Schools Detail of the Property
      operationId: Property-Nearby-School
      parameters:
      - name: SPRIFT-API-KEY
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: propertyID
        in: path
        description: Property ID
        required: true
        schema:
          type: integer
          format: int32
      deprecated: false
      responses:
        '200':
          description: Property Nearby Schools Detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_v2_nearby_schools'
  /property/{propertyID}/transport:
    get:
      tags:
      - Property V2
      summary: Returns Nearby Transports Detail of the Property
      operationId: Property-Nearby-Transport
      parameters:
      - name: SPRIFT-API-KEY
        in: header
        description: API Key
        required: true
        schema:
          type: string
      - name: propertyID
        in: path
        description: Property ID
        required: true
        schema:
          type: integer
          format: int32
      deprecated: false
      responses:
        '200':
          description: Property Nearby Transports Detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_v2_nearby_transport'
  /property/{propertyID}/streetviewmap:
    get:
      tags:
      - Property V2
      summary: Returns Google Street View Image of the Property.
      description: <p>Get property Google street view image as base64 encoded string.</p>
      operationId: PropertyDetails-StreetViewMap
      parameters:
      - name: SPRIFT-API-KEY
        in: header
        description: Sprift API Key
        required: true
        schema:
          type: string
      - name: propertyID
        in: path
        description: Property ID
        required: true
        schema:
          type: integer
          format: int32
      deprecated: false
      responses:
        '200':
          description: Street View Image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7_1'
components:
  schemas:
    inline_response_200_5_nearby_schools:
      type: object
      properties:
        name:
          type: string
        ofsted_rating:
          type: string
        pupils:
          type: number
        distance:
          type: number
        latitude:
          type: number
        longitude:
          type: number
        school_type:
          $ref: '#/components/schemas/inline_response_200_5_school_type'
    inline_response_200_5_mobile_coverage_data:
      type: object
      properties:
        EEIndoor:
          type: number
        3Indoor:
          type: number
        O2Indoor:
          type: number
        VOIndoor:
          type: number
    inline_response_200_5_street_view_pov:
      type: object
      properties:
        lat:
          type: string
        lng:
          type: string
        heading:
          type: number
        pitch:
          type: number
        zoom:
          type: number
      description: Google Street View Correction
    inline_response_200_7_1:
      type: object
      properties:
        status:
          type: boolean
        propertyStreetViewImage:
          type: string
    inline_response_200_5_epc:
      type: object
      properties:
        message:
          type: string
        epc_address:
          type: string
        property_id:
          type: integer
        epc_total_floor_area:
          type: string
        epc_current_energy_efficiency:
          type: string
        epc_potential_energy_efficiency:
          type: string
        epc_current_energy_rating:
          type: string
        epc_potential_energy_rating:
          type: string
        epc_certificate_number:
          type: string
        epc_update_date:
          type: string
        epc_current_energy_efficiency_category:
          type: string
        epc_potential_energy_efficiency_category:
          type: string
        epc_first_page_report_image:
          type: string
          description: EPC image url
        epc_file_date:
          type: string
          description: EPC date of issue
    inline_response_200_v2_search:
      type: object
      properties:
        status:
          type: boolean
        propertyDetails:
          $ref: '#/components/schemas/inline_response_200_5_propertyDetails'
        floodRisk:
          $ref: '#/components/schemas/inline_response_200_5_floodRisk'
        coastal_erosion:
          type: string
        estimatedPrice:
          type: string
        rentalEstimate:
          type: string
        yield:
          type: string
        landRegistry:
          $ref: '#/components/schemas/inline_response_200_5_landRegistry'
        propertyValue:
          type: string
        poundPerSquareFoot:
          type: string
        poundPerSquareFootCurrent:
          type: string
        isInteriorUpdated:
          type: boolean
        interior:
          $ref: '#/components/schemas/inline_response_200_5_interior'
        propertyDefaultImage:
          type: string
          description: 'Return default image url. If there is no image, return street view url. '
        propertyImages:
          type: array
          description: Property images
          items:
            $ref: '#/components/schemas/inline_response_200_5_propertyImages'
        street_view_pov:
          $ref: '#/components/schemas/inline_response_200_5_street_view_pov'
        propertyPolygon:
          $ref: '#/components/schemas/inline_response_200_5_propertyPolygon'
        broadband_speeds:
          $ref: '#/components/schemas/inline_response_200_5_broadband_speeds_data'
        mobile_coverage:
          $ref: '#/components/schemas/inline_response_200_5_mobile_coverage_data'
    inline_response_200_v2_epc:
      type: object
      properties:
        status:
          type: boolean
        epc:
          $ref: '#/components/schemas/inline_response_200_5_epc'
    inline_response_200_5_councilTax:
      type: object
      properties:
        property_id:
          type: string
        council_tax_band:
          type: string
        council_tax_monthly_cost:
          type: string
        council_tax_annual_cost:
          type: string
        council_tax_update_date:
          type: string
    inline_response_200_5_propertyPolygon:
      type: object
      properties:
        nearby:
          type: object
          example: []
          description: Nearby property polygon data. Not in use.
          properties: {}
        property:
          $ref: '#/components/schemas/inline_response_200_5_propertyPolygon_property'
      description: Property land registry area polygon data.
    inline_response_200_5_floodRisk:
      type: object
      properties:
        rivers_seas:
          type: string
        surface_water:
          type: string
    inline_response_200_5_propertyPolygon_property:
      type: object
      properties:
        uprn:
          type: string
        poly_id:
          type: string
        poly:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: number
        area:
          type: number
        lrtn:
          type: string
        tenure:
          type: string
        basic:
          type: boolean
        selected:
          type: boolean
      description: Property polygon data
    inline_response_200_v2_nearby_transport:
      type: object
      properties:
        status:
          type: boolean
        nearby_transport:
          $ref: '#/components/schemas/inline_response_200_5_nearby_transport'
    inline_response_200_5_broadband_speeds_data:
      type: object
      properties:
        basicDown:
          type: number
        basicUp:
          type: number
        superDown:
          type: number
        superUp:
          type: number
        ultraDown:
          type: number
        ultraUp:
          type: number
    inline_response_200_5_nearby_transport_Local_Connections_elements:
      type: object
      properties:
        name:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        distance:
          type: number
        metres:
          type: number
        distanceInMiles:
          type: number
    inline_response_200_5_interior:
      type: object
      properties:
        bedroom:
          type: string
        bathroom:
          type: string
        reception:
          type: string
        separateWc:
          type: string
        dining:
          type: string
        outsideSpace:
          type: string
        parking:
          type: string
        kitchenUtility:
          type: string
    inline_response_200_5_landRegistry:
      type: object
      properties:
        last_sold_price:
          type: string
        last_sold_price_display:
          type: string
        currency:
          type: string
          description: Currency Logo
        transfer_date:
          type: string
          description: Property transfer date
        property_type:
          type: string
          description: Property type
        land_registry_value:
          type: string
        duration_full:
          type: string
          description: Freehold or Leasehold
        needs_loading:
          type: boolean
        rule_used:
          type: string
    inline_response_200_5_nearby_transport:
      type: object
      properties:
        Local_Connections:
          $ref: '#/components/schemas/inline_response_200_5_nearby_transport_Local_Connections'
        National_Rail_Stations:
          $ref: '#/components/schemas/inline_response_200_5_nearby_transport_Local_Connections'
        Ferry_Terminals:
          $ref: '#/components/schemas/inline_response_200_5_nearby_transport_Local_Connections'
        Bus_Stops_Stations:
          $ref: '#/components/schemas/inline_response_200_5_nearby_transport_Local_Connections'
        Trunk_Roads_Motorways:
          $ref: '#/components/schemas/inline_response_200_5_nearby_transport_Local_Connections'
        Airports_Helipads:
          $ref: '#/components/schemas/inline_response_200_5_nearby_transport_Local_Connections'
      description: Nearby Transport Links
    inline_response_200_5_propertyDetails:
      type: object
      properties:
        property_id:
          type: integer
        area_name:
          type: string
        property_address_flat_number:
          type: string
          description: Flat number of the property
        property_address_building_number:
          type: string
          description: Building number of the property
        property_address_building_name:
          type: string
          description: Building name of the property
        property_address_sub_street_name:
          type: string
          description: Sub street name of the property
        property_address_street_name:
          type: string
          description: Street name of the property
        property_address_town:
          type: string
          description: Town
        property_lat:
          type: string
          description: Latitude of the property
        property_lng:
          type: string
          description: Longitude of the property
        property_bng_x:
          type: string
          description: British National Grid X Coordinate of the property
        property_bng_y:
          type: string
          description: British National Grid Y Coordinate of the property
        property_number:
          type: string
        property_electoral_roll:
          type: string
        property_local_authority:
          type: string
        property_classification_code:
          type: string
        property_classi_code_description:
          type: string
        property_post_code:
          type: string
        property_flood_risk:
          type: string
        property_flood_risk_date:
          type: string
          description: Last update date of the area
        property_conservation_area:
          type: string
        property_conservation_area_date:
          type: string
          description: Last update date of the area
        property_sprift_value:
          type: string
        property_land_registry_value:
          type: string
        property_land_registry_last_update:
          type: string
        property_land_registry_rule_used:
          type: string
        property_type:
          type: string
        property_add_date:
          type: string
          description: Sprift Report created date
        property_alias:
          type: string
        property_del_status:
          type: string
        property_street_view_pov:
          type: string
          description: Google street view camera positioning
        property_archived:
          type: string
        property_user_total_floor_area:
          type: string
        property_user_type:
          type: string
        property_user_total_floor_area_last_modified:
          type: string
        property_user_year_built:
          type: string
        is_dummy:
          type: string
        nearby_property_sold_updated_on:
          type: boolean
        property_uprn:
          type: string
        user_property_classification_code_description:
          type: string
        country_code:
          type: string
        country:
          type: string
        property_user_total_floor_area_sqf:
          type: string
        property_ppsqft:
          type: string
          description: Property pound per square foot value
        property_beds:
          type: string
        property_beds_updatedon:
          type: string
        property_baths:
          type: string
        property_baths_updatedon:
          type: string
        google_streetview_image:
          type: string
        pic_images:
          type: string
          description: Property image file name
        pic_id:
          type: string
        comparable_id:
          type: string
        address_str:
          type: string
        property_address:
          type: string
    inline_response_200_5_nearby_transport_Local_Connections:
      type: object
      properties:
        displayName:
          type: string
        elements:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_5_nearby_transport_Local_Connections_elements'
    inline_response_200_v2_propertyid:
      type: object
      properties:
        status:
          type: boolean
        property_id:
          type: integer
    inline_response_200_v2_nearby_schools:
      type: object
      properties:
        status:
          type: boolean
        nearby_schools:
          $ref: '#/components/schemas/inline_response_200_5_nearby_schools'
    inline_response_200_v2_priceestimate:
      type: object
      properties:
        status:
          type: boolean
        estimatedPrice:
          type: string
        rentalEstimate:
          type: string
        yield:
          type: string
    inline_response_200_v2_counciltax:
      type: object
      properties:
        status:
          type: boolean
        councilTax:
          $ref: '#/components/schemas/inline_response_200_5_councilTax'
    inline_response_200_5_propertyImages:
      type: object
      properties:
        propertyImage:
          type: string
          description: Property Image URL
        propetyImageId:
          type: string
        propertyImageType:
          type: string
    inline_response_200_5_school_type:
      type: object
      properties:
        nursery:
          type: number
        primary:
          type: number
        secondary:
          type: number
        college:
          type: number
        private:
          type: number
      description: Type of school, 1 is true, 0 is false
  securitySchemes:
    auth:
      type: http
      scheme: basic
